.content-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/*-- Header --*/

#logo {
    height: 60px;
    width: 60px;
}

#game-info button {
  min-width: 90px;
}

/*-- Side-Bar --*/

#side-bar {
  background-color: papayawhip;
}

#about-text,
#instructions-text,
.modal-body {
  background-color: #3d3d3d;
  color: ghostwhite;
}

/*-- Game Area --*/

#game-area {
  background-color: #3d3d3d;
}

img {
  width: 90%;
}

.tile {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

/* Flip Functionality */

.t-inner {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.t-front, .t-back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.t-front {
  background-color: #eac086;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.t-back {
  background-color: black;
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

/* Controls */

.dropdown-item {
  cursor: pointer;
}

#mode-display {
  color: green;
}

#startButton {
  font-size: 2rem;
}

#resetButton {
  font-size: 1.5rem;
}

/* Computer Area */

#computer-area {
  background-color: darkgrey;
}

#c-tiles {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 15px;
  justify-content: center;
}

#c-tiles .tile {
  height: 120px;
  width: 120px;
}

/* Player Area */

#p-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#p-tiles .tile {
  height: 90px;
  width: 90px;
}

/* Media Queries */

@media screen and (min-width: 1400px) {
  #p-tiles {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  #c-tiles .tile {
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 600px) {
  #p-tiles .tile {
    height: 80px;
    width: 80px;
  }
}

@media screen and (max-width: 360px) {
  #c-tiles .tile {
    height: 80px;
    width: 80px;
  }
  #p-tiles .tile {
    height: 70px;
    width: 70px;
  }
}