/* Header */

#logo {
    height: 60px;
    width: 60px;
}

#game-info button {
  min-width: 90px;
}

/* Controls */

.dropdown-item {
  cursor: pointer;
}

#startButton {
  font-size: 2rem;
}

#resetButton {
  font-size: 1.5rem;
}

/* Side-Bar */

#side-bar {
  background-color: blue;
}

/* Game Area */

#game-area {
  background-color: grey;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  justify-content: center;
}

.grid-item {
  height: 100px;
  width: 100px;
}

.tile {
  background-color: #eac086;
  border-radius: 10px;
  box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.5);
}



#guess-tiles {
  background-color: rgb(61, 61, 61);
  min-height: 100px;
}