#logo {
    height: 60px;
    width: 60px;
    border: 1px solid black;
}

/* .border {
  box-sizing: border-box;
  border: 1px solid black;
} */

#side-bar {
  background-color: blue;
}

#game-area {
  background-color: grey;
}

#guess-tiles {
  background-color: rgb(61, 61, 61);
  min-height: 100px;
}

#controls {
  background-color: rgb(61, 61, 61);
}

/* --------------- */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 15px;
  justify-content: center;
  background-color: bisque;
}

.tile {
  height: 60px;
  width: 60px;
  background-color: aqua;
}