.content-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}

/*-- Header --*/

#logo {
  height: 60px;
  width: 60px;
  background-color: #eac086;
  box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

#game-info button {
  min-width: 90px;
}

/*-- Side-Bar --*/

#side-bar {
  background-color: papayawhip;
}

#about-text,
#instructions-text,
.modal-body {
  background-color: #3d3d3d;
  color: ghostwhite;
}

/*-- Game Area --*/

#game-area {
  background-color: #3d3d3d;
}

img {
  width: 90%;
}

.tile {
  background-color: transparent;
  border-radius: 10px;
  height: 120px;
  width: 120px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.t-active:hover {
  box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.7);
}

.t-clicked {
  box-shadow: 0px 0px 9px 4px #00a3d5 inset;
}

.t-correct {
  box-shadow: 0px 0px 9px 4px #02c435 inset;}

.t-incorrect {
  box-shadow: 0px 0px 9px 4px #D30302 inset;
}

/* Flip Functionality */

.t-inner {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.t-front,
.t-back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.t-front {
  background-color: #eac086;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.t-back {
  background-color: #eac086;
  display: block;
  transform: rotateY(180deg);
	border: 3px solid rgb(0 0 0 / 60%);
}

.flipped {
  transform: rotateY(180deg);
}

/* Controls */

.dropdown-item {
  cursor: pointer;
}

#mode-display {
  color: green;
}

#startButton {
  font-size: 2rem;
}

#resetButton {
  font-size: 1.5rem;
}

/* Timer-Countdown-Score */

#turns-container p,
#countdown-container p,
#score-container p {
  line-height: normal;
}

#countdown {
  color: red;
  animation: countdown 5s steps(5, end) forwards;
}

@keyframes countdown {
  from {
    content: '5';
  }
  to {
    content: 'GO';
  }
}

#end-game p {
	color: red;
	line-height: normal;
	font-size: 20px;
}

/* Computer Area */

#computer-area {
  background-color: darkgrey;
}

#c-tiles,
#p-tiles {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 15px;
  justify-content: center;
}

/* Media Queries */

@media screen and (max-width: 992px) {
  .tile {
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 425px) {
  .tile {
    height: 90px;
    width: 90px;
  }

	#c-tiles,
	#p-tiles {
		display: grid;
		width: 100%;
		grid-template-columns: repeat(3, auto);
		grid-template-rows: repeat(3, auto);
		gap: 8px;
		justify-content: center;
	}
}